#tudo{
	text-align: center;
	color:white;
}

body{
	color:white;
	background-color:DimGray;
}

#cabecalho{
	
}

.titulo{
	text-align:left;
	font-size: 14px;
	backgrond-color:gray;
	margin-left:11px;
}

.acoes-editar{
	text-align:center;
	padding:12px;
	text-decoration:none;
	background-color:navy;
	color:white;
	margin:8px;
	padding:8px;
	border-radius:4px;
	width:20px;
}


.acoes-abrir {
	text-align:center;
	padding:12px;
	text-decoration: none;
	background-color: teal;
	color:white;
	padding:8px;
	margin:8px;
	border-radius:4px;
	width:20px;
}

#login{
	font-size:12px;
	text-align:center;
}

fieldset{
	margin-top: 10px;
	margin-botton: 10px;
}

.alargar{
	width:200px;
	padding: 8px;
	text-align:center;
}

.alinha-direita{
	text-align:right;
}

#conteudo{

	width: 90%;
	height: 90%;
	padding: 20px 20px;
	font-size: 12px;
	border: none;
	cursor:pointer;
}

#rodape{
	padding: 12px;
	font-size: 12px;
	border: none;
	cursor:pointer;
}

.dropbtn{
	background-color: DimGray;
	color:white;
	padding: 12px;
	font-size: 12px;
	border: none;
	cursor:pointer;
}

.dropdown{
	position: relative;
	display:inline-block;
}

.dropdown-content{
	display: none;
	position:absolute;
	background-color:#f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:1;
	padding: 12px;
	font-size: 12px;
	border: none;
	cursor:pointer;
}

.dropdown-content a:hover{
	background-color:#f1f1f1;
}

.dropdown:hover .dropdown-content{
	display:block;
}

.dropdown:hover .dropbtn{
	background-color: #3e8e41;
}

.dropdown-content a{
	color: black;
	padding: 12px;
	text-decoration: none;
	display:block;
}

.dropdown:hover .dropbtn{
	background-color:#f1f1f1;
	color:black;
}